.main_body{
	margin:0px;
	font-size:0px;
}
hr{
	height:0px ;
	border:solid;
	
}
.main{
	background-color:#225599;
	font-size:50px;
	text-align:center;
	padding:10px;
	border-radius:10px;
	margin-top:2px;
	
}


#status{
	background-color:#225599;
	font-size:50px;
	text-align:center;
	padding:10px;
	height:50px;
}
.main_register{
	background-color:#225599;
	font-size:20px;
	text-align:left;
	padding:10px;
	float:right;
	width:50%;

}
.register_page{
	background-color:#225599;
	font-size:20px;
	text-align:left;
	padding:10px;
	
}
.relogin{
	float:left;
	width:46%;
	padding:10px;
	background-color:#225599;
	
}
.sub_main{
	font-size:15px;
}
.navigation li{
	display:inline-block;
	vertical-align:top;
	padding:10px;

	
}
.navigation_main{
	background-color:#2255ff;
	border-radius:10px;
	margin-top:2px;
		
}

.navigation li a {
	text-decoration:inherit;
	text:orange;
	font-size:20px;

}
.login{
	/*float:right;*/
	font-size:20px;
	height:20px;
	padding:0px;
	margin:0px;
	text-align:left;
}
.login form {
	padding:0px;
	opacity:1;
	/*list-style-position: inside;*/
	font-size:20px;
	display:none;
	color:red;
	
}



.product_reviews ul li,.online_seller_reviews ul li{
	font-size:20px;
	display:none;
	margin:0px;
	padding:0px;
	color:red;
	
}
.product_reviews ul li a,.online_seller_reviews ul li a{

	color:red;
	
}
.product_reviews ul,.online_seller_reviews ul{
	list-style-position: inside;
	/*margin-top:11px;*/
	padding:0px; /*important property to align the list to the parent list*/
	
}
.product_reviews:hover ul li ,.online_seller_reviews:hover ul li {
	display:block;
	border:1px solid blue;
	background-color:#2255ff;
}
.login:hover form{
	background-color:#2255ff;
	display:block;
	border:1px solid blue;
	/*z-index:1; /*very important property to hide when overwritten*/
}

.product_reviews ,.online_seller_reviews, .login {
	
	height:20px; /*important feature for the overflow of content*/

	
}
.chat{
	margin-top:2px;
	float:right;
	font-size:20px;
	border:1px solid blue;
	width:49%;
	border-radius:10px;
}	 
.login{
	text-align:bottom;
}

.content{
	margin-top:2px;
	border-radius:10px;
	float:left;
	width:49%;
	border:1px solid blue;
	font-size:20px;
}
.comment_tweet{
	margin-top:2px;
	font-size:20px;
	border:1px solid blue;
	float:left;
	width:49%;
	border-radius:10px;
}

.comment_fb{
	margin-top:2px;
	font-size:20px;
	border:1px solid blue;
	float:right;
	width:49%;
	border-radius:10px;
	
}
#googlesigninButton{
	/*float:right;*/
	text-align:right;
	width:10%;
	height:10px;
	width:10px;
}
.fb-login-button{
	float:right;
	text-align:right;
	width:10%;
}

#footer{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 10px;
    background-color:#225599;
    margin-top:2px;
	border-radius:10px;
	padding:10px;
}
    